<drv-page>
  <div class="container">
    <div class="left">
      <div>
        <div class="who">who</div>
        <div class="are">are</div>
      </div>
      <div class="we">we</div>
    </div>
    <div class="right">
      <ul>
        <li>Boutique-sized innovative Entrepreneurship since 1991</li>
        <li>Office in Potsdam, Germany</li>
        <li>Focus on Excellence, Expertise, Integrity and Quality</li>
        <li>Value added approach</li>
        <li>Innovative and merit-based arrangements</li>
        <li>Diverse staff of international individuals</li>
        <li>Operational focus on execution and service</li>
        <li>Global experience</li>
      </ul>
    </div>
  </div>
</drv-page>
