.container {
  position: relative;
  // border-top: 4px var(--main-color) solid;
  // border-bottom: 4px var(--main-color) solid;
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-flow: row;
}

.title {
  font-weight: bold;
  font-size: 80px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 34.8px;
  width: 530px;
  margin-top: -15px;
  margin-left: 3.5px;
  color: var(--secondary-color);
}

.ag {
  font-size: 145px;
  color: var(--accent-color);
  margin-top: -23px;
}
