<drv-page title="CONTACT">
  <div class="container">
      <div class="item">
        <h2>ADDRESS</h2>
        <div>
          <ul>
              <li class="deuv">DEUROVISION AG</li>
              <li>Karl-Marx-Str. 14</li>
              <li>D-14482 Potsdam; Germany</li>
          </ul>
        </div>
      </div>
      <div class="item">
        <h2>EMAIL</h2>
        <div>
            <ul>
                <li><a href="mailto:wvg@deurovision.com">wvg[at]deurovision.com</a></li>
            </ul>
        </div>
      </div>
  </div>
</drv-page>