<drv-page title="IMPRESSUM">
    <div class="container">
        <div class="item">
          <h2>ADDRESS</h2>
          <div>
            <ul>
                <li class="deuv">DEUROVISION AG</li>
                <li>Karl-Marx-Str. 14</li>
                <li>D-14482 Potsdam; Germany</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <h2>CEO (Vorstand)</h2>
          <div>
            <ul>
                <li>Dr. Frank H. Walter-von Gierke</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <h2>Registered Office</h2>
          <div>
            <ul>
                <li>Potsdam, Germany</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <h2>Commercial Register</h2>
          <div>
            <ul>
                <li>Amtsgericht Potsdam HR B 11830</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <h2>USt.-IdNr.</h2>
          <div>
            <ul>
                <li>DE153646396</li>
            </ul>
          </div>
        </div>
    </div>
  </drv-page>