<!-- <div class="container">
  <div class="top">
    <h1>CAREER</h1>
  </div>
  <div class="bot">
    
  </div>
</div> -->
<drv-page title="CAREER">
    <div class="container">
        <h2>We offer</h2>
        <ul>
          <li>Transaction focussed work</li>
          <li>Innovative Entrepreneurship in its third decade</li>
          <li>Global perspectives</li>
          <li>Outstanding commitment to successful careers</li>
          <li>Merit-based compensation</li>
        </ul>
  
        <h2>We appreciate</h2>
        <ul>
          <li>Full commitment to excellence</li>
          <li>Successful experience in corporate finance at leading institutions</li>
          <li>Degree in accounting, business administration, economics, finance, mathematics or sciences</li>
          <li>Outstanding academic achievements</li>
          <li>Fluent English</li>
        </ul>
      </div>
</drv-page>
